workflow/Audio Transcription & ChatBot.json
{
  "name": "Audio Transcription & Chat Bot",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Upload Files",
        "formFields": {
          "values": [
            {
              "fieldLabel": "file",
              "fieldType": "file",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -672,
        -1056
      ],
      "id": "0dba16b2-fa40-4b9c-a921-8af1ae027219",
      "name": "On form submission",
      "webhookId": "1274ae9f-a831-40b5-9f16-0858afe26b2b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/transcript",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"audio_url\": \"{{$json.upload_url}}\",\n  \"speaker_labels\": true,\n  \"summarization\": true,\n  \"summary_type\": \"bullets\",\n  \"summary_model\": \"informative\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -272,
        -1056
      ],
      "id": "9e38f83c-126c-4e7f-b64d-2d4de797fac0",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "39HattHgYYuTO0Zq",
          "name": "AssemblyAI"
        }
      }
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        128,
        -864
      ],
      "id": "e7eaecc9-4509-433b-bc76-5542249b5ff4",
      "name": "Wait",
      "webhookId": "128d96f5-f4a8-433e-815c-f50caf1aef42"
    },
    {
      "parameters": {
        "url": "=https://api.assemblyai.com/v2/transcript/{{$json.id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        400,
        -1056
      ],
      "id": "5be523c3-a58d-4449-8071-cf820ea2bd9d",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "39HattHgYYuTO0Zq",
          "name": "AssemblyAI"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "994985c8-81a1-4197-8bb3-4ae340e305c6",
              "leftValue": "processing",
              "rightValue": "={{ $json.status }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        688,
        -864
      ],
      "id": "9b79552b-fb1f-4692-ac39-0d0cc2de34c3",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1008,
        -1056
      ],
      "id": "5b6b9a64-e713-4279-b2ed-412928a4ee3e",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "newone",
          "mode": "list",
          "cachedResultName": "newone"
        },
        "embeddingBatchSize": 768,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1200,
        -1056
      ],
      "id": "a7147186-286a-4448-9616-997ae4875f54",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "UcU8RRkm5pzqgZuT",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1296,
        -848
      ],
      "id": "8c139734-d710-4727-8c3e-112f0ae14d02",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1056,
        -848
      ],
      "id": "cb9f878e-f7b7-4c7e-ac37-14570fc84ea6",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "NUyRner38pl1K7JL",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1200,
        -640
      ],
      "id": "5186eac9-9740-4e57-a125-e05d6ced12dd",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1J3-peSI-VCh9lKauiSUVTqWiDvP8zEM_JQQxZPVVbWk",
          "mode": "list",
          "cachedResultName": "Voice Transcription",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J3-peSI-VCh9lKauiSUVTqWiDvP8zEM_JQQxZPVVbWk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J3-peSI-VCh9lKauiSUVTqWiDvP8zEM_JQQxZPVVbWk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1536,
        -1056
      ],
      "id": "eb193636-ca06-4b5f-bee6-16af97f07020",
      "name": "Append row in sheet",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MIZZeiC4RFvUjmhN",
          "name": "My Sheets"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -480,
        -1056
      ],
      "id": "72c22f12-3718-4933-9480-77026cfffa7f",
      "name": "HTTP Request",
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "39HattHgYYuTO0Zq",
          "name": "AssemblyAI"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -672,
        -704
      ],
      "id": "7bfaee11-a2da-4b1f-8d0e-20940d70bacd",
      "name": "When chat message received",
      "webhookId": "59b4d4ac-068b-4c04-9f1f-f1443e04e446"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a RAG Agent and your job is not not use your own knowledge but to use the knowledge from the pine cone storage node available in your tools section and the user get all its information from it not from your own database but from Pine Cone's database"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -464,
        -704
      ],
      "id": "a151b5d4-1a0b-4a72-8271-ecdc37c3c7f1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -656,
        -496
      ],
      "id": "e04b213c-13f4-472b-a6a7-4893e81d635b",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "hqwLI4gUvlRDGZ4s",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "retrieve information from this database for user conversation.",
        "pineconeIndex": {
          "__rl": true,
          "value": "newone",
          "mode": "list",
          "cachedResultName": "newone"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -272,
        -480
      ],
      "id": "c3140867-fdd6-42d8-92e9-6639eb0b2efc",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "UcU8RRkm5pzqgZuT",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -384,
        -304
      ],
      "id": "ec9dc62d-87a9-4115-a112-a0a4c130327f",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "NUyRner38pl1K7JL",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -496,
        -480
      ],
      "id": "314e4936-e95e-457c-88bf-2b7d2e0c9904",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "content": "## 1. **Uploading Audio File to AssemblyAI**\n",
        "height": 304,
        "width": 640,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -736,
        -1168
      ],
      "typeVersion": 1,
      "id": "0339a654-9087-4a8e-b23d-3063aa09e956",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 2. **Get Transcription and Upload it to the Pinecone Vector Store**",
        "height": 560,
        "width": 816,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        -1168
      ],
      "typeVersion": 1,
      "id": "558f26c3-531d-435d-9a4d-036742114673",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 3. **Upload the Audio file in PInecone Vector Store and Log Everything**",
        "height": 688,
        "width": 784,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        -1168
      ],
      "typeVersion": 1,
      "id": "5a7150e8-0bc7-4755-8ef9-6c91e80c291e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 4. **Talk to the ChatBot with context of the Audio File**",
        "height": 608,
        "width": 720,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -736,
        -784
      ],
      "typeVersion": 1,
      "id": "bcd60adc-d64f-4e3b-89b4-433160c59b5c",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2eb1df46-64d9-4a38-b8f2-eee42269f507",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dca6f58ddc2bc042b2a0b87df68cc95840e7acfd95b687d59e2ddc6d1e244ed1"
  },
  "id": "FxG2FmPdPHU2XIrp",
  "tags": []
}