workflow/Talk with your Drive folder RAG.json
{
  "name": "Talk with your Drive folder RAG",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=docs-{{ $json.messages[0].from }}"
      },
      "id": "9d9c8e3b-ba9d-4365-99e6-6266d984d2f5",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1856,
        1024
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "name": "get_documents",
        "description": "Retrieve information from any documents pdfs",
        "topK": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}"
      },
      "id": "999ae64d-6281-497c-8d2c-778eff7b49f1",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        2096,
        944
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "4649db07-f92f-482c-acc6-dcc51b9ba064",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        1392,
        960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "1154ecb1-7e04-4733-8839-9adfb75ebad9",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        1392,
        1168
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "cf205635-c2b4-4976-824e-4cb25c5a64a5",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        1664,
        720
      ],
      "webhookId": "7d2ecd50-140d-4b7d-a07b-42300ce295b0",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ollama",
          "mode": "list",
          "cachedResultName": "ollama"
        },
        "options": {}
      },
      "id": "c8ed667c-5801-4af3-9c77-fcd6e989b6c4",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        1312,
        720
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "UcU8RRkm5pzqgZuT",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "ollama",
          "mode": "list",
          "cachedResultName": "ollama"
        },
        "options": {}
      },
      "id": "97fe3099-f1ea-4fd2-ae24-77b745341b88",
      "name": "Pinecone Vector Store (Retrieval)",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        1952,
        1136
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "UcU8RRkm5pzqgZuT",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You a personal assistant that helps me make decisions based on my internal information pdfs. Your goal is not to facilitate a explain any questions user might have about the documents.\n\nDo your best to answer any questions factually. If you don't know the answer or unable to obtain the information from the datastore, then tell the user so.\n\nAlways answer in short message, in the size of one paragraph: between 100 and 200 words. Better to answer in short messages, human like."
        }
      },
      "id": "843fe971-b2ac-48ec-82f6-86bf018738de",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1936,
        720
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        912,
        720
      ],
      "id": "d2c498e3-2719-4b7d-926e-77b626ce2d06",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "list",
          "value": "https://drive.google.com/file/d/1_i9q2tMqq0T4uhN36EXmxq-im5J52Cpx/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1120,
        720
      ],
      "id": "4852eefc-421d-4628-9741-aea0fa3611ac",
      "name": "Download files From Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xmiDlIgh6cKDElJj",
          "name": "Google Drive account _2"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1728,
        928
      ],
      "id": "e03feafd-bacb-4e4e-9b4b-26d87c29065b",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "hqwLI4gUvlRDGZ4s",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2352,
        1152
      ],
      "id": "9f46facd-e3fa-4b63-ae32-080f259c9a3a",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "hqwLI4gUvlRDGZ4s",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1200,
        960
      ],
      "id": "3cd2b3a7-005b-4a18-b825-fea56dbffe84",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "NUyRner38pl1K7JL",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1872,
        1312
      ],
      "id": "496aeb2f-9417-44d5-b8e9-22a21b91c10c",
      "name": "Embeddings Ollama2",
      "credentials": {
        "ollamaApi": {
          "id": "NUyRner38pl1K7JL",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "results=[]\nfor item in _input.all():\n  results.append({\"text\": item.json.response})\nreturn results"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        720
      ],
      "id": "040f952d-c09a-4db4-9f1b-7dc17f87dcb4",
      "name": "Code in Python (Beta)"
    }
  ],
  "pinData": {},
  "connections": {
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store (Retrieval)": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download files From Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download files From Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store (Retrieval)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9738fd35-1993-46db-bff5-97e6db6015e5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dca6f58ddc2bc042b2a0b87df68cc95840e7acfd95b687d59e2ddc6d1e244ed1"
  },
  "id": "kiuSDYiElzIzBZVG",
  "tags": [
    {
      "updatedAt": "2025-12-05T14:43:15.458Z",
      "createdAt": "2025-12-05T14:43:15.458Z",
      "id": "2LYutEBhj75otqnz",
      "name": "Agent"
    }
  ]
}